.wrapper-demo {
    margin: 7px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

/* BGENDER */

.wrapper-bgender {
    /* Size & position */
    position: relative;
    width: 110px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	border:0px solid #4cbeff;
	color:yellow;
}

.wrapper-bgender:after { /*Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-bgender .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border:none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
	z-index:100;
}

.wrapper-bgender .dropdown li {
    padding: 0 10px ;
	text-align:left;	
}

.wrapper-bgender .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-bgender .dropdown li:last-of-type a {
    border: none;
}

.wrapper-bgender .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-bgender .dropdown li:hover  {
	
}
.wrapper-bgender .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-bgender.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-bgender.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-bgender.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

/* HGENDER */

.wrapper-hgender {
    /* Size & position */
    position: relative;
    width: 110px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	border:0px solid #4cbeff;
	color:yellow;
}

.wrapper-hgender:after { /*Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-hgender .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border:none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
	z-index:100;
}

.wrapper-hgender .dropdown li {
    padding: 0 10px ;
	text-align:left;	
}

.wrapper-hgender .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-hgender .dropdown li:last-of-type a {
    border: none;
}

.wrapper-hgender .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-hgender .dropdown li:hover  {
	
}
.wrapper-hgender .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-hgender.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-hgender.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-hgender.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}


/* BCOLOR */
.wrapper-bcolor {
    /* Size & position */
    position: relative;
    width: 110px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-bcolor:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-bcolor .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-bcolor .dropdown li {
    padding: 0 10px ;
	z-index:100;
	text-align:left;
}

.wrapper-bcolor .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-bcolor .dropdown li:last-of-type a {
    border: none;
}

.wrapper-bcolor .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-bcolor .dropdown li:hover  {
	
}
.wrapper-bcolor .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-bcolor.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-bcolor.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-bcolor.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* hcolor */
.wrapper-hcolor {
    /* Size & position */
    position: relative;
    width: 110px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-hcolor:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-hcolor .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-hcolor .dropdown li {
    padding: 0 10px ;
	z-index:100;
	text-align:left;
}

.wrapper-hcolor .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-hcolor .dropdown li:last-of-type a {
    border: none;
}

.wrapper-hcolor .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-hcolor .dropdown li:hover  {
	
}
.wrapper-hcolor .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-hcolor.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-hcolor.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-hcolor.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* byear */
.wrapper-byear {
    /* Size & position */
    position: relative;
    width: 80px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-byear:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-byear .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-byear .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-byear .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-byear .dropdown li:last-of-type a {
    border: none;
}

.wrapper-byear .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-byear .dropdown li:hover  {
	
}
.wrapper-byear .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-byear.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-byear.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-byear.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* bmonth */
.wrapper-bmonth {
    /* Size & position */
    position: relative;
    width: 80px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-bmonth:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-bmonth .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-bmonth .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-bmonth .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-bmonth .dropdown li:last-of-type a {
    border: none;
}

.wrapper-bmonth .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-bmonth .dropdown li:hover  {
	
}
.wrapper-bmonth .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-bmonth.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-bmonth.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-bmonth.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* bdate */
.wrapper-bdate {
    /* Size & position */
    position: relative;
    width: 60px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-bdate:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-bdate .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-bdate .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-bdate .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-bdate .dropdown li:last-of-type a {
    border: none;
}

.wrapper-bdate .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-bdate .dropdown li:hover  {
	
}
.wrapper-bdate .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-bdate.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-bdate.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-bdate.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* hyear */
.wrapper-hyear {
    /* Size & position */
    position: relative;
    width: 80px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-hyear:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-hyear .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-hyear .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-hyear .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-hyear .dropdown li:last-of-type a {
    border: none;
}

.wrapper-hyear .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-hyear .dropdown li:hover  {
	
}
.wrapper-hyear .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-hyear.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-hyear.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-hyear.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* hmonth */
.wrapper-hmonth {
    /* Size & position */
    position: relative;
    width: 80px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-hmonth:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-hmonth .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-hmonth .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-hmonth .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-hmonth .dropdown li:last-of-type a {
    border: none;
}

.wrapper-hmonth .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-hmonth .dropdown li:hover  {
	
}
.wrapper-hmonth .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-hmonth.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-hmonth.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-hmonth.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}

/* hdate */
.wrapper-hdate {
    /* Size & position */
    position: relative;
    width: 60px;
   /*center
    margin: 0 auto;*/
    padding: 12px 15px;

    /* Styles */
    background:#8b0308;	
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	color:yellow;
}

.wrapper-hdate:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-hdate .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	width:101%;
	z-index:100;

    /* Styles */
    background: #C00;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-hdate .dropdown li {
    padding: 0 10px ;
	text-align:left;
}

.wrapper-hdate .dropdown li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #FFF;
}

.wrapper-hdate .dropdown li:last-of-type a {
    border: none;
}

.wrapper-hdate .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */
.wrapper-hdate .dropdown li:hover  {
	
}
.wrapper-hdate .dropdown li:hover a {
    color: #0F3;
	font-weight:bold;
}

/* Active state */

.wrapper-hdate.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-hdate.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-hdate.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 110px;
	overflow-y:scroll;
}